{% extends 'base.html' %}
{% block title %} Da7ee7 bot - broadcast {% endblock title %}

{% block content %}

{% if is_broadcasting %}
<div role="alert" class="alert alert-dismissible fade show alert-info">
  <p>Broadcasting is in progress right now...</p>
  <a class="btn btn-danger" href="{% url 'broadcast_cancel' %}">Cancel broadcasting</a>
</div>
{% endif %}

<style>
  form p {
    margin-top: 2em;
  }
</style>

<form class="d-grid gap-2" method="POST" enctype="multipart/form-data" action="{% url 'broadcast_message' %}">
    {% csrf_token%}
    <textarea
      class="form-control col-lg-6"
      placeholder="Message text goes here..."
      name='message'
      style="min-height: 200px;"
    ></textarea>

    <p>Image [optional]</p>

    <input
      id="image"
      type="url"
      name="image_url"
      class="form-control"
      placeholder="Image URL [optional]"
    />

    <input
      type="file"
      name="image"
      class="form-control"
      placeholder="Image file [optional]"
      accept="image/*"
    />

    <fieldset>
      <p>Bots [all selected by default]</p>
      <div class="form-group">
        <select id="bots-multiselect" multiple class="form-control" name="bot">
        {% for bot in bots %}
          <option selected>{{bot.username}}</option>
        {% endfor %}
        </select>
      </div>
    </fieldset>

    <!-- <fieldset> -->
    <!--   <legend>Choose bots</legend> -->
    <!--   {% for bot in bots %} -->
    <!--   <div class="form-check"> -->
    <!--     <input class="form-check-input" id="{{bot.username}} "type="checkbox" checked name="bots_usernames[{{bot.username}}]"/> -->
    <!--     <label class="form-check-label" for="{{bot.username}}"> -->
    <!--       {{bot.username}} -->
    <!--     </label> -->
    <!--   </div> -->
    <!--   {% endfor %} -->
    <!-- </fieldset> -->

    <!-- TODO: list all bots as checkboxes -->

    <button type="submit" class="btn btn-primary col-lg-2 mt-4">Send the message</button>
    <small>Please press the button once, and wait until the message is sent</small>
</form>

{% endblock content %}
