{% extends 'base.html' %}
{% block title %} Da7ee7 bot - broadcast {% endblock title %}

{% block content %}

<form class="d-grid gap-2" method="POST" enctype="multipart/form-data" action="{% url 'broadcast_POST' %}">
    {% csrf_token%}
    <textarea
      class="form-control col-lg-6"
      placeholder="Message text goes here..."
      name='message'
      style="min-height: 200px;"
    ></textarea>

    <label>Optional image</label>

    <input
      id="image"
      type="url"
      name="image_url"
      class="form-control"
      placeholder="Image URL [optional]"
    />

    <input
      type="file"
      name="image"
      class="form-control"
      placeholder="Image file [optional]"
      accept="image/*"
    />

    <!-- TODO: list all bots as checkboxes -->

    <button type="submit" class="btn btn-primary col-lg-2 mt-4">Submit</button>
</form>

{% endblock content %}

